<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.lukianbat.urbanist.guide">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
            android:name="com.lukianbat.urbanist.guide.сore.App"
            android:allowBackup="true"
            android:icon="@drawable/ic_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />

        <activity
                android:name="com.lukianbat.urbanist.guide.feature.map.presentation.MapsActivity"
                android:label="@string/app_name" />

        <activity
                android:name="com.lukianbat.urbanist.guide.feature.start.presentation.StartActivity"
                android:screenOrientation="portrait">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>
        <activity
                android:name="com.lukianbat.urbanist.guide.feature.list.presentation.PlacesListActivity"
                android:label="@string/place_list_title"
                android:screenOrientation="portrait"
                android:theme="@style/AppListTheme" />
    </application>

</manifest>